@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Regular.ttf');
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #2CBA00 0%, #2CBA00 100%);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

html {
    display: flex;
    background-color: #2CBA00;
    background-attachment: fixed;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    flex-grow: 1;
}

input {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.btn-group_row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn {
    transition: .2s;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;

}

button {
    border: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: inherit;
    font-size: 1em;
}

.politics-text {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
}

.btn:active {
    transform: scale(.95);
}

.btn_secondary {
    width: 100%;

    height: 52px;
    border-radius: 40px;
    color: #000000;
    box-shadow: 0px 12px 24px 0px #232C5D0F;
    background: #FFFFFF;

}

.btn_primary {
    font-family: 'Montserrat';
    width: 100%;
    height: 52px;
    border-radius: 40px;
    border: 1px solid #2DBF00;
    color: #ffffff;
    background: linear-gradient(99.35deg, #00DE00 4.42%, #06E600 17.47%, #08D200 23.99%, #0CE300 31.45%, #14CF00 49.62%, #16BB00 58.94%, #1DC200 70.59%, #28AD01 97.62%);

}

body {
    background: url('../img/bg.png') 50% / cover no-repeat;
}

.bg_green {
    background: url('../img/bg_loader.png')50% /cover no-repeat;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .3s;
    overflow-y: auto;

}

.screen-preloader {

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.bg_circle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('../img/Circle\ BG.png') 50% / contain no-repeat;
    transition: 2s;
}

.bg_circle.hidden {
    opacity: 0;
    transform: scale(0);
}

.logo {
    width: 179px;
    height: 121px;
    transform: translateY(0) scale(1);
    transition: 1s;
}

.logo.hidden {
    transform: translateY(0) scale(0);
}

.logo.anim {

    animation: logo 2s ease-in-out alternate infinite;
}

@keyframes logo {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(-10px) scale(1);
    }
}

.logo__img {
    width: 100%;
    object-fit: contain;
}

.screen-welcome {
    height: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background: url('../img/Circle\ BG.png') 50% / contain no-repeat;
    max-width: 400px;
    margin: 0 auto;
}

.welcome-animated {
    margin-top: 30px;
    opacity: 0;
    transition: .6s;
    width: 100%;
    flex-grow: 2;
    max-height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/Stats.png') 50% / 391px 86px no-repeat;
    padding-bottom: 20px;
}

.welcome-animated.anim {
    opacity: 1;
}

.welcome-animated::before {
    content: '';
    background: url('../img/Dots.png') 50% /contain no-repeat;
    width: 77px;
    height: 103px;
    position: absolute;
    top: -10px;
    left: 60px;

}

.welcome-user {
    width: 63px;
    height: 63px;
    border-radius: 63px;
    overflow: hidden;
}

.welcome-user_img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.welcome-user_wrapper {
    transition: all 3s;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 63px;
    background: linear-gradient(179.95deg, rgba(255, 255, 255, 0.48) 0.05%, rgba(255, 255, 255, 0) 86.37%);

}

.welcome-user_wrapper:nth-child(2n) {
    justify-content: end;
    background: linear-gradient(0, rgba(255, 255, 255, 0.48) 0.05%, rgba(255, 255, 255, 0) 83.79%);


}

.welcome-animated.anim .welcome-user_wrapper:first-child {
    transform: translateY(25px);
    height: 193px;

}

.welcome-animated.anim .welcome-user_wrapper:first-child+.welcome-user_wrapper {
    transform: translateY(40px);
    height: 193px;

}

.welcome-animated.anim .welcome-user_wrapper:first-child+.welcome-user_wrapper+.welcome-user_wrapper {
    transform: translateY(0px);
    height: 193px;

}

.welcome-animated.anim .welcome-user_wrapper:first-child+.welcome-user_wrapper+.welcome-user_wrapper+.welcome-user_wrapper {
    transform: translateY(0px);
    height: 193px;

}

.welcome-animated.anim .welcome-user_wrapper:first-child+.welcome-user_wrapper+.welcome-user_wrapper+.welcome-user_wrapper+.welcome-user_wrapper {
    transform: translateY(0px);
    height: 193px;

}

.welcome-content {
    padding: 22px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 40px;
}

.welcome-title {
    font-weight: 700;
    font-size: 40px;
}

.welcome-text {
    font-size: 14px;
    margin-top: 8px;
    line-height: 20px;
}

.video-items-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 12px;
}

.video-item {
    width: 100%;
    background: linear-gradient(99.35deg, #00DE00 4.42%, #06E600 17.47%, #08D200 23.99%, #0CE300 31.45%, #14CF00 49.62%, #16BB00 58.94%, #1DC200 70.59%, #28AD01 97.62%);
    border-radius: 16px;
}

.video-item__text {
    padding: 10px 16px 9px;
    border: 1px solid #31FA00;
    border-top: 0;
    border-radius: 0 0 16px 16px;
    overflow: hidden;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    gap: 8px;

}

.video-item__text::before {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    content: '';
    display: block;
    background: url('../img/Folder.svg') 50% / contain no-repeat;
}

.video-item__img-wrapper {
    height: 65px;
    width: 100%;
}

.video-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.screen_form {
    display: flex;
    flex-direction: column;
    background: #F6F9FF;

}

.screen_form.hidden {
    transform: translateY(100%);
    opacity: 1;
}

.screen_form__content {
    padding: 12px 24px;
    flex-grow: 2;
}

.screen_form__header {
    /* text-align: center; */
    font-weight: 700;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 26px 24px 16px;
    border-bottom: 1px solid #EAECF0;
    background: #FFFFFF;

}

.btn_prev {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFFFFF;
    border: 1px solid #EAECF0;

}

.btn_prev::after {
    content: '';
    display: block;
    width: 6px;
    height: 11px;
    background: url('../img/arrow.svg') 50% / contain no-repeat;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    max-height: 415px;
    height: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form input {
    height: 48px;
    width: 100%;

    font-weight: 500;
    font-size: 18px;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #CDCDD0;
    padding-right: 50px;

}

.form label {
    position: relative;
}

.form input::placeholder {
    color: #CDCDD0;

}

.form input:focus {
    outline: none;
    border-bottom: 2px solid #3BA935;
}

.input__title {
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.lost-password {
    color: #686873;
    font-weight: 600;
    font-size: 14px;
}

.form .btn-group_row {
    max-height: 187px;
    flex-grow: 2;
    justify-content: end;
    text-align: center;
    gap: 24px;
    font-size: 14px;
    font-weight: 500;
}

.form .btn {
    font-weight: 700;
}

.remove-btn {
    position: absolute;
    right: 10px;
    top: calc(50% - 12px + 0.5em);
    width: 24px;
    height: 24px;
    background: url('../img/Remove_icon.svg') 50% / contain no-repeat;
}

/* users page */
.screen-users {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 36px;
    position: static;
}

.btn_header {
    height: 49px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    padding: 8px;
}

.screen__header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 16px;
}

.btn-home {
    max-width: 107px;
    flex-shrink: 0;
    background-image: url('../img/logo_min.png');
    background-position: 20px 5px;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-profile {
    justify-content: start;
}

.profile__img-wrapper {
    position: relative;
    width: 35px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 35px;


}

.profile__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
}

.profile__user-name {
    font-weight: 600;
    font-size: 13px;
    color: #171725;
    text-wrap: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.profile__subscription-date {
    color: #AFAFBD;
    font-size: 10px;
}

.profile__online {
    width: 8px;
    height: 8px;
    background: linear-gradient(66.69deg, #2BB100 10.64%, #32D100 50.14%, #2ABA00 91.26%);
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #FFFFFF
}

.screen__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 142px;
    flex-grow: 2;
    position: relative;

}

.screen__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 102px;
    padding: 0 16px 21px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.screen__footer::before {
    pointer-events: none;
    z-index: -2;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    top: -30px;
    left: 0;
    right: 0;
    position: absolute;
    content: '© 2025 Проведение конференций';
}

.screen__footer__nav {
    position: relative;
    width: 100%;
    height: 80px;
    border-radius: 64px;
    padding: 20px 35px;
    background: #FFFFFF;
    border: 0.5px solid #CDCDD0;
    box-shadow: 58px 26px 68px 0px #232C5D0F;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.screen__footer__nav::before {
    width: 150px;
    height: 150px;
    pointer-events: none;
    content: '';
    position: absolute;
    background: url('../img/footer_top.png') 50% / contain no-repeat;
    top: -90px;
    right: 40px;
}



.footer__nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__nav-profile-title {
    font-weight: 500;
    font-size: 14px;
}

.footer__nav-item.select .footer__nav-item__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: linear-gradient(135deg, #35DF00 0%, #25A000 100%);

}

.footer__nav-item.select {
    pointer-events: none;
}

.footer__nav-item.select .footer__nav-item__wrapper path:first-child {
    fill: #ffffff;
}

.nav-item_profile.footer__nav-item.select .footer__nav-item__wrapper path {
    fill: #ffffff;
}

.swiper-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    flex-grow: 2;
}

.screen-users__content {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide {
    flex: 0 0 auto;
    width: 100%;
    max-width: 450px;
    margin: 0;
    padding: 5px;
}

@media (min-width:450px) {
    .swiper-slide {
        flex: 0 0 auto;
        width: 100%;
        max-width: 343px;
        margin: 0;
        padding: 5px;
    }
}

.drag-handle {
    cursor: grab;

}

.drag-handle:active {
    cursor: grabbing;
}

.swiper-slide {
    cursor: default;
}

.swiper-button {
    position: absolute;
    top: 130px;
    background: linear-gradient(90.13deg, rgba(61, 255, 0, 0.3834) -1.45%, rgba(69, 169, 39, 0.213) 99.91%);
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
    width: 34px;
    height: 32px;
    backdrop-filter: blur(10px);

    box-shadow: 0px 7px 14px 0px #1B0C574D inset;

}

.swiper-button-prev {
    left: -10px;
    background-image: url('../img/btn_preview-circle.svg');
    background-position: 50%;
    background-repeat: no-repeat;
}

.swiper-button-next {
    right: -10px;
    background-image: url('../img/btn_next-circle.svg');
    background-position: 50%;
    background-repeat: no-repeat;
}

.swiper-button[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
}

.user-img__wrapper {
    width: 100%;
    height: 293px;
    border-radius: 30px;
    position: relative;

}

.user-img__wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 316px;
    background: url('../img/bg_user_img.png') 50% / 100% 100% no-repeat;
    z-index: -1;
}

.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    border: 6px solid #FFFFFF33;
}

.user-item__desc {
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    bottom: 16px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.answer-count__wrapper {
    background: linear-gradient(90.13deg, rgba(61, 255, 0, 0.53) -1.45%, rgba(69, 169, 39, 0.86) 99.91%);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    height: 31px;
    box-shadow: 0px 7px 14px 0px #1B0C574D inset;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    gap: 5px;
}

.answer-count__wrapper::before {
    content: '';
    display: block;
    width: 16px;
    height: 14px;
    background: url('../img/answers_icon.svg') 50% / contain no-repeat;
    flex-shrink: 0;
}

.user-item__info {
    font-weight: 600;
    min-height: 46px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    background: #FFFFFF33;
    backdrop-filter: blur(40px);
    padding: 5px 25px;
    border-radius: 60px;
}

.user-item__info-name {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    max-width: 165px;
}

.user-item__info-name::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background: url('../img/Icon_Verify.svg') 50% / contain no-repeat;
}

.user-item__info-status {
    font-size: 10px;
    color: #FFFFFF66;
}

.user-item__content {
    margin-top: 36px;
}

.swipe-item__container {
    width: 100%;
    height: 60px;
    border-radius: 20px;
    background: linear-gradient(99.35deg, #00DE00 4.42%, #06E600 17.47%, #08D200 23.99%, #0CE300 31.45%, #14CF00 49.62%, #16BB00 58.94%, #1DC200 70.59%, #28AD01 97.62%);

    overflow: hidden;
    border: 1px solid #31D400;
    backdrop-filter: blur(3px);
}

.swipe-item {
    width: 92px;
    /* Reduced width */
    height: 100%;
    background: linear-gradient(105.14deg, #AD8400 3.44%, #EDB400 14.76%, #DCA700 28.43%, #F9BE00 38.81%, #EFB600 58.14%, #C59500 67.57%, #D6A300 83.6%, #AD8400 97.74%);
    cursor: grab;
    transition: transform 0.3s ease-out;
    border-radius: 20px;
    border: 1px solid #FFC200;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.swipe-item::before {
    content: '';
    display: block;
    width: 31px;
    height: 14px;
    background: url('../img/swipe_item.svg') 50% / contain no-repeat;
}

.swipe-item:active {
    cursor: grabbing;
}

.swipe-item__text {
    position: absolute;
    top: calc(50% - 0.5em);
    z-index: -1;
    left: 50%;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    transition: opacity 1s;

}

.time-picker {
    width: 100%;
    border-radius: 20px;
    height: 200px;
    overflow: hidden;
    background: linear-gradient(68.32deg, #9B7808 0%, #EAB201 48.61%, #EDB400 56.92%, #B38800 99.99%);
    border: 1px solid #FFB700;
    backdrop-filter: blur(4px);
}

.time-picker-inner {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.time-picker-inner::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 38px / 2);
    height: 38px;
    background: #FFFFFF33;
    width: 100%;
    pointer-events: none;
}

.time-column {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* For smooth scrolling on iOS */
    scroll-snap-type: y mandatory;
    cursor: default;
}

.time-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;

}

.time-option {
    height: 38px;
    line-height: 38px;
    text-align: center;
    scroll-snap-align: center;

    width: 100%;
    /* Make sure the element takes up the full width */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.time-option.selected {
    /* background: #FFFFFF33; */
}

/* Hide scrollbar */
.time-column::-webkit-scrollbar {
    display: none;
}

.time-column {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.screen-date {
    z-index: 10;
    padding: 16px;
    background: #000000CC;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #ffffff;

}

.screen-date.hidden {
    opacity: 0;
}

.screen-date.hidden .time-picker__container {
    transform: translateY(100%);
}

.time-column_del {
    display: flex;
    align-items: center;
    justify-content: center;

}

.time-column_del__icon {
    height: 38px;
    line-height: 38px;
    /* background: #FFFFFF33; */
    padding: 0 5px;
}

.close_time-picker {
    flex-grow: 2;
    display: flex;
    align-items: end;
    padding-bottom: 24px;
    justify-content: center;
}

.time-picker__container {
    background: linear-gradient(223.47deg, #3D2608 2%, #946306 41.14%, #7A5100 52.73%, #3C2608 98.63%);
    height: 357px;
    width: 100%;
    padding: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: 'Inter';
    transition: .6s;
}

.btn_timer {
    background: linear-gradient(88.11deg, #B68A01 0%, #ECB300 53.32%, #9E7A07 113.44%);
    border: 1px solid #FFC201;
    backdrop-filter: blur(35px);
    height: 48px;
    border-radius: 20px;
    width: 100%;

}

.time-picker__title {
    font-weight: 500;
    font-size: 20px;
}

.time-picker__text {
    font-size: 12px;
}

.waiting-call__wrapper {
    display: flex;
    gap: 14px;
    width: 100%;
    font-weight: 700;
}

.waiting-call {
    background: linear-gradient(105.14deg, #AD8400 3.44%, #EDB400 14.76%, #DCA700 28.43%, #F9BE00 38.81%, #EFB600 58.14%, #C59500 67.57%, #D6A300 83.6%, #AD8400 97.74%);
    border: 1px solid #C5AE00;
    border-radius: 20px;
    height: 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    color: #856500;
    font-size: 20px;


}

.waiting-call__title {
    font-size: 12px;
    font-weight: 500;


}

.waiting-call__close {
    color: #ffffff;
    font-size: 12px;
    width: 103px;
    flex-shrink: 0;
    border-radius: 20px;
    height: 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(98.92deg, #FF3030 3.53%, #DE0000 24.19%, #EE0000 41.1%, #E90000 57.07%, #FF0000 77.26%, #CA0000 97.45%);
    border: 1px solid #FF4647;


}

.waiting-call__close::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background: url('../img/close.svg') 50% / contain no-repeat;
}

.invitations-call__top {
    width: 100%;
    height: 81px;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid #EAECF0;

    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.invitations-call__top::after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background: url('../img/Shield\ Done.svg') 50% / contain no-repeat;
}

.invitations-call__top::before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    background: url('../img/inivation_icon.svg') 50% / contain no-repeat;
}

.invitations-call__top__title {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}

.invitations-call__top__time {
    background: #A5F08E;
    color: #1E8000;
    height: 24px;
    width: 100%;
    border-radius: 12px;
    font-size: 12px;
    padding: 4px 9px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.invitations__time_edit,
.invitations__time {
    display: flex;
    align-items: center;
    gap: 4px;
}

.invitations__time_edit::before,
.invitations__time::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.invitations-call__top__desc {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.invitations__time::before {
    background: url('../img/Bell.svg') 50% / contain no-repeat;
}

.invitations__time_edit::before {
    background: url('../img/Time\ Circle.svg') 50% / contain no-repeat;
}

.invitations-call__btn {
    height: 68px;
    border-radius: 20px;
}

.invitations-call__btn_apply {
    background: linear-gradient(99.35deg, #00DE00 4.42%, #06E600 17.47%, #08D200 23.99%, #0CE300 31.45%, #14CF00 49.62%, #16BB00 58.94%, #1DC200 70.59%, #28AD01 97.62%);
    border: 1px solid #38EC00;

    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.invitations-call__btns {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
}

.invitations-call__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.invitations-call__btn_close {
    color: #ffffff;
    font-size: 12px;
    width: 103px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(98.92deg, #FF3030 3.53%, #DE0000 24.19%, #EE0000 41.1%, #E90000 57.07%, #FF0000 77.26%, #CA0000 97.45%);
    border: 1px solid #FF4647;


}

.invitations-call__btn_close::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background: url('../img/close.svg') 50% / contain no-repeat;
}

.invitations-call__btn_apply::before {
    content: '';
    width: 21px;
    height: 12px;
    display: block;
    background: url('../img/db_check.svg') 50% / contain no-repeat;
}

.active-call__wrapper {}

.active-call {
    height: 68px;
    background: #FFFFFF;
    border: 1px solid #EAECF0;

    padding: 16px;
    border-radius: 20px;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.active-call::before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    background: url('../img/active_call.svg') 50% / contain no-repeat;

}

.active-call__btn_close {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    border-radius: 12px;

}

.active-call__btn_close::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../img/close_bg.svg')50% / contain no-repeat;
}

.active-call__title {
    font-weight: 600;
    font-size: 13px;
}

.active-call__time {
    font-weight: 600;
    font-size: 12px;
    color: #9B9BA1;
}

.active-call__btn {
    background: linear-gradient(99.35deg, #00DE00 4.42%, #06E600 17.47%, #08D200 23.99%, #0CE300 31.45%, #14CF00 49.62%, #16BB00 58.94%, #1DC200 70.59%, #28AD01 97.62%);
    height: 68px;
    width: 97px;
    flex-shrink: 0;
    border: 1px solid #0AFA02;
    border-radius: 20px;

    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    flex-direction: column;

}

.active-call__btn::before {
    width: 19px;
    height: 19px;
    content: '';
    display: block;
    background: url('../img/call.svg') 50% / contain no-repeat;
}

.active-call__wrapper {
    display: flex;
    gap: 16px;

}

.active-call__desc {
    flex-grow: 2;
}

/* profile page */
.screen-profile {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 36px;
    position: static;
}



.screen-profile .screen__content {
    display: flex;
    flex-direction: column;
    gap: 42px;

}

.message__save {
    position: fixed;
    z-index: 10;
    top: 80px;
    width: 100%;
    pointer-events: none;
    animation: message 1s ease;
    display: none;
}

@keyframes message {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.message__wrapper {
    padding: 12px 16px;
    background: #F6FFF9;
    border: 1px solid #48C178;
    color: #4C9B6B;
    max-width: 250px;
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 16px;
    border-radius: 10px;
    margin: 0 auto;
}

.message__wrapper::before {
    width: 20px;
    height: 20px;
    content: '';
    display: block;
    background: url('../img/check.svg') 50% / contain no-repeat;

    flex-shrink: 0;
}

.form-edit-profile {
    padding: 24px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #00467E0F;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.edit-profile__photo_prev {
    width: 148px;
    height: 148px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 16px;
}

.edit-profile__btn-photo {
    border: 1px solid #165C00;
    border-radius: 10px;
    color: #196F00;
    height: 48px;
}

.edit-profile__inputs label {
    position: relative;
    display: block;
    font-family: "Intel", sans-serif;
}

.password-toggle input {
    padding-right: 40px;
    /* Отступ для иконки */
}

.password-toggle .toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    /* Запрещаем выделение текста */
    background: url('../img/eye-open.svg') 50% / contain no-repeat;
    width: 20px;
    height: 20px;
}

.password-toggle .toggle-icon.eye-close {
    background: url('../img/eye-close.svg') 50% / contain no-repeat;
}

.edit-profile__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.edit-profile__inputs label {
    background: #F5F5F5;
    height: 52px;
    width: 100%;
    border-radius: 10px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-profile__inputs input {
    background-color: inherit;
    width: 100%;
    border: none;
    font-size: 16px;
}

.edit-profile__inputs input:focus {
    outline: none;
}

label:focus-within {
    outline: 1px solid #0077FF;
    /* Пример стиля outline */
}

.placeholder-text {
    font-size: 12px;
    color: #909090;
}

.form__btns {
    display: flex;
    gap: 16px;
}

.form-btn {
    height: 62px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.form-btn_logout::before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background: url('../img/logout.svg') 50% / contain no-repeat;
}

.form-btn_save::before {
    content: '';
    display: block;
    width: 20px;
    height: 12px;
    background: url('../img/db_check_blac.svg') 50% / contain no-repeat;
}

.edit-profile__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

}

.edit-profile__text {
    font-size: 18px;
    line-height: 20px;
}

/* subs page */
.screen-subs {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 36px;
    position: static;
}

.subs-card {
    padding: 18px 22px 34px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
    max-width: 400px;
    margin: 0 auto;
}

.subs-top {
    background: linear-gradient(99.35deg, #00DE00 4.42%, #06E600 17.47%, #08D200 23.99%, #0CE300 31.45%, #14CF00 49.62%, #16BB00 58.94%, #1DC200 70.59%, #28AD01 97.62%);
    border: 1px solid #3BFF00;
}

.subs-top__title {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.subs-top__text {
    font-size: 14px;
    line-height: 18px;
}

.subs-card__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #F4F5F7;
}

.subs-card__desc {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
}

.decor-dot {
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: #896800;

}

.subs-card__desc__precent {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.subs-card__desc__precent::after {
    width: 12px;
    height: 12px;
    content: '';
    display: block;
    background: url('../img/Star.svg') 50% / contain no-repeat;
}

.subs-card__desc__title {
    font-size: 12px;
    line-height: 14px;
}

.card-gold {
    background: linear-gradient(105.14deg, #AD8400 3.44%, #EDB400 14.76%, #DCA700 28.43%, #F9BE00 38.81%, #EFB600 58.14%, #C59500 67.57%, #D6A300 83.6%, #AD8400 97.74%);
    border: 1px solid #EEB600;
}

.subs-card__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.subs-card__btn-buy {
    height: 47px;
    border-radius: 24px;
    background: #292A20;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 0 20px;
    margin-top: 10px;
    max-width: 135px;
    width: 100%;
    justify-content: space-between;

}

.subs-card__btn-buy::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url('../img/bag-2.svg') 50% / contain no-repeat;
}

.subs-card__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.card-silver {
    background: linear-gradient(104.71deg, #7E7E80 2.38%, #E2E2E2 49.25%, #A1A1A3 98.04%);
    border: 1px solid #DADADA;
}

.card-brow {
    background: linear-gradient(103.71deg, #492D24 2.11%, #E7C19C 48.72%, #4C3126 97.24%);
    border: 1px solid #9E6C53;
}

.screen-subs .screen__content {
    display: flex;
    gap: 20px;
}

/* access page */
.screen-access {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 36px;
    position: static;
}

.access__wrapper {
    background: #FFFFFF;
    box-shadow: 8px 40px 96px 0px #123D6524;

    box-shadow: -8px -6px 80px 0px #FFFFFF2E inset;
    padding: 60px 38px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 300px;
    margin: 0 auto;

}

.lock__img {
    width: 95px;
    height: 140px;
    background: url('../img/Lock.png') 50% / contain no-repeat;
}

.access__desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;

}

.access__title {
    color: #696969;
    font-weight: 600;
    font-size: 20px;
}

.access__text {
    font-size: 12px;
}

.access__btn {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(99.35deg, #00DE00 4.42%, #06E600 17.47%, #08D200 23.99%, #0CE300 31.45%, #14CF00 49.62%, #16BB00 58.94%, #1DC200 70.59%, #28AD01 97.62%);
    border: 1px solid #20C800;
    padding: 0 21px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 30px;
}

.user-list__wrapper {

    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    padding: 20px 8px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.user-list__title {
    font-weight: 600;
    font-size: 20px;
}
.user-list__icon {
    width: 68px;
    height: 68px;
    background: url('../img/user-list.svg') 50% / contain no-repeat;
}
.user-list__top {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn_user-list {
    height: 36px;
    width: 110px;
    border: 1px solid #EAECF0;
    font-size: 14px;
    border-radius: 12px;
    font-weight: 600;
    position: relative;
    flex-shrink: 0;
}
.btn_user-list::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 8px;
    left: 8px;
    top: calc(50% - 3px);
    background: linear-gradient(99.35deg, #00DE00 4.42%, #06E600 17.47%, #08D200 23.99%, #0CE300 31.45%, #14CF00 49.62%, #16BB00 58.94%, #1DC200 70.59%, #28AD01 97.62%);

}

.user-list__text {
    font-weight: 400;
    font-size: 12px;
    color: #9B9BA1;
}
.user-list__users-profiles {
    display: flex;
    align-items: center;
}

.users-profiles__img-wrapper {
    width: 60px;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECECEC;
}
.users-profiles__img-wrapper:first-child {
    margin-left: 0;
}
.users-profiles__img-wrapper {
margin-left: -10px;
}

.users-profiles__img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;
}
.users-profiles__img-wrapper-text {
    font-size: 8px;
    font-weight: 700;
}

.sub-status__wrapper {
    background: #FFFFFF;
        border-radius: 20px;
        width: 100%;
        padding: 20px 8px;
        display: flex;
        flex-direction: column;
        gap: 12px;
}
.subscription-card {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 18px 16px 24px;
    border-radius: 20px;
    background: linear-gradient(99.35deg, #00DE00 4.42%, #06E600 17.47%, #08D200 23.99%, #0CE300 31.45%, #14CF00 49.62%, #16BB00 58.94%, #1DC200 70.59%, #28AD01 97.62%);

    border: 1px solid #2AC600;
}

.subscription-card__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.subscription-card__data {
    font-size: 14px;
    color: #ffffff;
    line-height: 18px;

}

.subscription-card.red_card {
    background: linear-gradient(98.92deg, #FF3030 3.53%, #DE0000 24.19%, #EE0000 41.1%, #E90000 57.07%, #FF0000 77.26%, #CA0000 97.45%);
    border: 1px solid #D20000;
}
.subscription-card.red_card svg {
    flex-shrink: 0;
}
.subscription-card.red_card svg circle {
    stroke: #ffffff;
}
.subscription-card.red_card .subscription-card__title {
    color: #ffffff;
}
.users-profile__status {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 5px;
}
.users-profile__status-wrapper {
    padding: 16px;
    border-radius: 16px;
    box-shadow: 58px 26px 68px 0px #232C5D0F;
    border: 1px solid #EAECF0;
    font-weight: 500;
}
.users-profile__status input {
    padding: 5px 0;
    border: none;
}
.users-profile__status input:focus,
.users-profile__status:focus-within {
    outline: none;
}
.btn-status {
    border: 1px solid #EAECF0;
    height: 36px;
    max-width: 101px;
    width: 100%;
    border-radius: 12px; 
    font-size: 14px;
    float: right;
}
.status__icon {
    width: 32px;
    height: 32px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EAECF0;
    flex-shrink: 0;
}
.status__answer {
    display: flex;
    align-items: center;
    gap: 17px;

}
.status__answer-title {
    font-size: 14px;
    font-weight: 500;
}
.status__answer-count {
    background: linear-gradient(99.35deg, #00DE00 4.42%, #06E600 17.47%, #08D200 23.99%, #0CE300 31.45%, #14CF00 49.62%, #16BB00 58.94%, #1DC200 70.59%, #28AD01 97.62%);
color: #ffffff;
padding: 1px 13px;
border-radius: 5px;
font-weight: 600;
font-size: 12px;
display: flex;
align-items: center;
justify-content: center;
width: fit-content;
margin-top: 5px;
}




@media (min-width:800px) {
    .screen__header {

        background: #FFFFFF;
        border-radius: 20px;
        width: 100%;
        padding: 8px;
        justify-content: space-between;
    }

    .btn-profile {
        justify-content: end;
    }

    .screen {
        max-width: 1750px;
        margin: 0 auto;
    }

    .screen__footer__nav {
        max-width: 600px;
        margin: 0 auto;
    }

    html {
        overflow: auto;
        min-height: 100%;
        height: auto;
        background: url(../img/bg.png) 50% / cover no-repeat;
    }

    body {
        height: 100%;
        background: none;
    }

    .screen-welcome {
        max-width: 400px;
        margin: 0 auto;
        background-color: #25A000;
        border: 1px solid #00DE00;
        padding: 16px;
        border-radius: 40px;
        margin-top: 60px;
    }

    .bg_green {
        background: none;
    }

    .screen_form {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 180px;
        border-radius: 60px 60px 0 0;
    }

    .screen-date {
        max-width: none;
        padding-left: 2rem;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .screen-date::-webkit-scrollbar {
        display: none;
    }

    .time-picker__container {
        max-width: 360px;
        margin: 0 auto;
    }
    
    .user-list__wrapper {
        flex-direction: row;
        padding: 33px 16px;
        justify-content: space-between;
        gap: 10px;
    }
    .users-profiles__img-wrapper {
        width: 71px;
        height: 71px;
        border-radius: 71px;
    }
    .subs-card {
        max-width: none;
    }
    .form-btn_logout {
        max-width: 120px;
       margin-left: auto;
    }
   
    .edit-profile__inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .form-edit-profile {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 25px 30px;
    }
    .edit-profile__desc {
        grid-column: 1 / 3;
        border-bottom: 2px solid #00DE00;
    }
    .form__btns {
        grid-column: 2;
        margin-left: auto;
        margin-top: auto;
        max-width: 150px;
    }
    .btn-profile {
        flex-grow: 0;
        width: fit-content;
    }
    .profile__subscription-date {
        background: #32D600;
        min-height: 24px;
        padding: 2px 8px;
        border-radius: 8px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .profile__subscription-date::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background: url('../img/user-vector.svg') 50% / contain no-repeat;
    }
}

@media (min-width:1200px) {
    .screen-profile .screen__content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
    }
}

